.color2 {
  color: var(--brand-color-2);
}
.color3 {
  color: var(--brand-color-3);
}
/******Customize css rechargea*********/
.rc-radio.rc-radio--active,
.rc-template__radio .rc-selling-plans {
  background-color: #fff !important;
}
.rc-radio__label {
  color: var(--brand-color-1) !important;
}
.rc-template__radio .rc-selling-plans {
  padding-left: 0 !important;
}
.rc-template__radio .rc-selling-plans-dropdown__select {
  height: 43px !important;
  line-height: 41px !important;
}
.rc-widget label.rc-radio {
  position: relative;
  padding-left: 21px !important;
}
.rc-widget label.rc-radio:before {
  position: absolute;
  content: "";
  left: 0;
  top: 13px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--brand-color-2);
  border-radius: 50%;
}
.rc-radio .rc-radio__input {
  display: none;
}
.rc-widget label.rc-radio.rc-radio--active:after {
  position: absolute;
  content: "";
  left: 2px;
  top: 15px;
  width: 16px;
  height: 16px;
  background-color: var(--brand-color-2);
  border-radius: 50%;
}
/**********Age buttons*********/
.age-btns {
  display: flex;
  justify-content: space-between;
}
.age-btns button {
  margin: 0;
  width: 145px;
}
.age-btns .button-enter {
  background-color: #000;
  border: 1px solid #000;
}

.age-btns .button-enter:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.age-btns .button-exit {
  border-color: #fff !important;
}
.size-correct {
  font-size: 14px !important;
  color: #000 !important;
}
@media (max-width: 375px) {
  .age-btns button {
    width: 120px;
  }
}

.tax-note.caption-large {
  font-size: 16px;
}
.product-form .gift-code-text {
  color: var(--brand-color-2);
  font-weight: 600;
  margin-bottom: 10px;
}
/*******Product gallery thumbnail*************/
.product-imageslide img {
  width: 100%;
}
.product-imageslide video {
  position: absolute;
  left: 0;
  top: 0;
}
deferred-media.media {
  display: block;
  height: 100%;
}
deferred-media.media iframe {
  background-color: #fff;
}
/********Form clavio select**************/
#downshift-0-menu {
  max-height: 400px !important;
}

#shopify-section-newsletter,
#shopify-section-footer {
  display: block !important;
}
/********Klavio Page**************/
.subscribe-richtext {
  text-align: center;
}
.subscribe-richtext h1 {
  margin-bottom: 10px;
  font-size: 60px;
  color: #2e2e2f;
}
.subscribe-richtext .rich-text__text {
  max-width: 643px;
  margin: 0 auto;
}
.subscribe-richtext .rich-text__text p {
  margin: 0;
  color: #2e2e2f;
  font-weight: 300;
  font-size: 26px;
}
.subscribe-richtext .rich-text__text p a {
  color: #a4915c;
  text-decoration: underline;
  font-weight: 400;
}
.subscribe-richtext .rich-text__text p a:hover {
  color: #2e2e2f;
}
/********Img with Text**************/
.text-img {
  padding: 120px 0;
}
.text-img__wrp {
  display: flex;
  align-items: flex-start;
}
.text-img__img {
  display: block;
  margin-right: 54px;
  max-width: 536px;
  object-fit: cover;
}
.text-img__title {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}
.text-img__title span {
  display: block;
  font-size: 31px;
}
.text-img-item {
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}
.text-img-item:first-child {
  padding: 0 0 20px 0;
}
.text-img-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.text-img-item h3 {
  width: 117px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "FuturaPT-Book", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #2e2e2f;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.text-img-item p {
  width: calc(100% - 137px);
  margin: 0;
  font-size: 20px;
  color: #1f1704;
  opacity: 0.7;
}
@media (max-width: 1121px) {
  .text-img__wrp {
    flex-direction: column;
  }
  .text-img__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .text-img__title {
    text-align: center;
  }
}
@media (max-width: 769px) {
  .text-img {
    padding: 50px 0;
  }
  .text-img__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .text-img__title span {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .text-img-item h3 {
    /* width: 150px; */
    margin-right: 7px;
    font-size: 16px;
  }
  .text-img-item p {
    /* width: calc(100% - 157px); */
    font-size: 18px;
  }
  .text-img-item {
    padding: 10px 0;
  }
  .text-img__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .text-img__img {
    max-width: 100%;
  }
}

.faq-subscribe {
  padding: 120px 0;
  background: #f7f3ef;
}
.faq-subscribe__img {
  display: block;
  max-width: 536px;
  object-fit: cover;
}
.faq-subscribe__wrp {
  display: flex;
  align-items: flex-start;
}
.faq-content {
  width: 100%;
  margin-right: 65px;
}
.faq-subscribe__title {
  width: calc(100% - 540px);
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px;
  margin-top: 0;
}
.faq__wr:not(:last-child) {
  margin-bottom: 20px;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px;
  font-size: 16px;
  font-weight: 400;
  color: #1f1704;
  background: #fff;
  border: 1px solid #a4915c;
  cursor: pointer;
}
.faq__question svg {
  transition: all 300ms;
}
.faq__question.active svg {
  transform: rotate(180deg);
}
.faq__answer {
  display: none;
  padding: 20px 25px;
  color: #1f1704;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  border-bottom: 1px solid #a4915c;
  border-left: 1px solid #a4915c;
  border-right: 1px solid #a4915c;
}
@media (max-width: 1121px) {
  .faq-subscribe__wrp {
    flex-direction: column-reverse;
  }
  .faq-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .faq-subscribe__img {
    margin-left: auto;
    margin-right: auto;
  }
  .faq-subscribe__title {
    width: 100%;
  }
}
@media (max-width: 769px) {
  .faq-subscribe {
    padding: 50px 0;
  }
  .faq-subscribe__title {
    margin-bottom: 20px;
    font-size: 32px;
  }
}
@media (max-width: 600px) {
  .faq-subscribe__img {
    max-width: 100%;
  }
}
.sbs-img {
  display: block;
  max-width: 200px;
  margin: 0 auto;
}

#shopify-section-template--14477833535543__main {
  background: #f5f4f0;
}
#shopify-section-template--14477833535543__main .h2.code-page {
  margin: 0;
  border-radius: 0;
  background: #f5f4f0;
}

.section-template--14477833535543__e9dfc79e-b81d-457f-94d9-80f33bb02477 h2.h1 {
  text-transform: capitalize;
  font-size: 60px;
}
@media (max-width: 600px) {
  .sbs-img {
    display: none;
  }
  .go3176171171 p span {
    font-size: 20px !important;
  }
  .section-template--14517699149879__e9dfc79e-b81d-457f-94d9-80f33bb02477 h2.h1 {
    font-size: 40px;
  }
}
.footer-custom-code {
  display: flex;
  align-items: center;
}
.footer-custom-code img {
  display: block;
  object-fit: cover;
}
.footer__item:has(.footer-custom-code) {
  width: 20%;
}
@media (max-width: 767px) {
  .footer__item:has(.footer-custom-code) {
    width: 100%;
  }
  .footer-custom-code img {
    max-width: 50%;
    margin: auto;
  }
}

/* PASPARTOO */
.page-deeper .page_bg_block_text h5,
.page-deeper .page_bg_block_text .caps.color_gold {
  font-size: 24px;
}
#customAnchorLink {
  display: inline !important;
}
body.homepage .reviews-slider .swiper-wrapper {
  padding-bottom: 30px;
}
body.homepage .reviews-slider .swiper-wrapper,
body.product .reviews-slider .swiper-wrapper {
  height: auto!important;
}
/*COLLECTION BANNER*/
.grid__item.grid__item-banner .overlay {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.grid__item.grid__item-banner:before {
  content: "";
  background: linear-gradient(to top, rgba(0, 0, 0, .25), rgba(0, 0, 0, 0));
  height: 418px;
  width: calc(100% - 30px);
  bottom: 0;
  left: 15px;
  z-index: 1;
  position: absolute;
}
.grid__item.grid__item-banner {
  position: relative;
}
.grid__item.grid__item-banner img {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-right: 15px;
  padding-left: 15px;
}
.grid__item-banner-text {
  color: #fff;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 70px 5px;
}
.grid__item.grid__item-banner .button_arrow_border div {
  font-size: 16px;
  padding: 0;
  text-transform: none;
}
.grid__item.grid__item-banner .button_arrow_border span {
  display: none;
}
.grid__item-banner-text .h3,
.grid__item-banner-text .h2 {
  line-height: 1;
  color: #fff;
  margin-bottom: 0;
}
.grid__item-banner-text .h3,
.grid__item-banner-text .h2,
.grid__item-banner-text .button_arrow_border {
  position: relative;
  z-index: 2;
}

.grid__item-banner-text .h2 {
  margin: 0;
  max-width: 350px;
  text-align: center;
  font-weight: 300;
  line-height: 110%;
}
.grid__item-banner-text .h3 {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: -0.2px;
  max-width: 350px;
  font-family: var(--h6-font-family);
  margin-top: 31px;
}
.grid__item-banner-text .button_arrow_border div {
  color: #1f1704;
  transition: all .3s ease;
  letter-spacing: .8px;
}
.grid__item-banner-text .button_arrow_border {
  margin-top: 24px;
  margin-bottom: 0;
  text-align: center;
  background: #fff;
}
.grid__item-banner-text .button_arrow_border:hover div {
  color: #fff;
}
.grid__item-banner-text .button_arrow_border:hover {
  background: transparent;
}
@media (max-width: 768px) {
  .grid__item-banner-text .button_arrow_border {
    padding: 0 20px;
    min-height: 46px;
    height: auto;
  }
  .grid__item-banner-text {
    padding: 35px 5px;
  }
  .grid__item-banner-text .h2 {
    font-size: calc(var(--h2-size) * 1.45);
  }
  .grid__item-banner-text .h3 {
    margin-top: 20px;
  }
}
@media (min-width: 769px) {
  .grid__item-banner-text .h2 {
    font-size: calc(var(--h2-size) * 1.75);
  }
}
@media (max-width: 576px) {
  .grid__item-banner-text .button_arrow_border {
    padding: 0 10px;
  }
  .grid__item-banner-text {
    padding: 20px 5px;
  }
  .grid__item.grid__item-banner .button_arrow_border div {
    font-size: 14px;
  }
  .grid__item-banner-text .h3 {
    font-size: 16px;
  }
  .grid__item-banner-text .h2 {
    font-size: calc(var(--h2-size));
  }
  .grid__item.grid__item-banner {
    flex: 0 0 100%;
    max-width: 100%;
    min-height: 526px;
  }
}
/*END COLLECTION BANNER*/
/* END PASPARTOO */